# Data manipulation and analysis
pandas
matplotlib
seaborn
plotly
geopandas
shapely
nbformat

# Jupyter
jupyter
ipython

# Agentic - Core frameworks (Langchain)
langchain
langchain-google
langchain-community
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite

# Agentic - supporting dependencies 
pydantic
python-dotenv
wikipedia
faiss-cpu